body {
  background-color: #1c1d21;
  color: #eeeff7;
}
.navbar {
  background-color: #445878;
  border-bottom: #92cdcf 3px solid;
  opacity: 0.8;
}
.navbar-dark .navbar-brand {
  color: #eeeff7;
}
.navbar-dark .navbar-nav .nav-link {
  color: #eeeff7;
}

/* Home Section */

#home {
  background: url(../images/home2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home .dark-overley {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home .home-inner {
  padding-top: 150px;
}

#home .card-form {
  background-color: #445878;
  opacity: 0.85;
}

#home .fas {
  background-color: #eeeff7;
  color: #92cdcf;
  padding: 5px;
  border-radius: 5px;
}

/* Explore */

#explore-section {
  background-color: #eeeff7;
  color: #31353d;
}

#explore-section .fas {
  background-color: #31353d;
  color: #eeeff7;
  padding: 5px;
}
